@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

/* body */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Sawarabi Gothic', sans-serif;
}

/* Header */
#heading {
    display: flex;
    align-items: center;
    margin: 0px 135px;
}

#list-items-1 {
    margin-left: 30.125rem;
    width: 69.9%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#logo-img img {
    margin: 4px 0px 1px 17px;
    width: 135%;
}

#list-anchor {
    color: #000064;
    text-decoration: none;
}

.list-2-items a {
    font-size: 20px;
}

#list-anchor a {
    text-decoration: none;
}

.list-1-items {
    padding: 0px 13px;
    font-size: 20px;
    position: relative;
}

.list-1-items img {
    width: 18px;
    height: 21px;
}

.list-1-items a {
    color: rgb(100, 100, 100);
    text-decoration: none;
    font-family: 'Noto Sans', 'sans-serif';
}

.list-1-items:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -14px;
    top: 53%;
    transform: translateY(-50%);
    width: 1px;
    height: 19px;
    background-color: gray;
}

.list-horizontal {
    background-color: gray;
}

/* Nav-1 */
#nav-1 {
    border-top: 4px double #d7d5d5;
    border-bottom: 4px double #d7d5d5;
}

#nav-bar {
    display: flex;
    background-color: #d7d5d5;
}

#list-items-2 {
    display: flex;
    list-style: none;
    height: 44px;
    justify-content: space-between;
}

#list-items-2 a {
    text-decoration: none;
    color: black;
}

.nav-hr {
    margin: 1px 0px;
    background-color: #bfbcbc;
}

.list-2-items {
    padding: 10px 0px;
    position: relative;
}

.list-2-items::after {
    content: "";
    position: absolute;
    right: -24px;
    top: 51.3%;
    transform: translateY(-50%);
    width: 1px;
    height: 46.5px;
    background-color: #ebebeb;
}

#list-2 {
    width: 66.6rem;
    margin-left: 10.5rem;
}

#search {
    padding: 10px 0px;
}

#nav-btn {
    height: 22px;
    margin-top: 11px;
    width: 38px;
    font-size: 15px;
    border-width: 0px;
    border-radius: 5px;
    margin-left: 15px;
    background-color: white;
}

#nav-btn:hover {
    cursor: pointer;
}

#search-box {
    width: 17.7rem;
    height: 25px;
    border-width: 0px;
    box-shadow: 1px 1px 3px black inset;
    margin-left: 11.7rem;
}

::placeholder {
    font-size: 1em;
    color: #5d5d5d;
    padding: 8px;
}

/* Nav-2 */
#list-3 {
    display: flex;
    margin-left: 10.6rem;
    height: 60px;
}

#list-3-1 {
    display: flex;
    width: 77.4rem;
    padding-top: 12px;
}

#list-3-1 p {
    font-size: 20.6px;
    color: rgb(63, 63, 172);
}

#list-3-1-items {
    width: 64%;
    margin-left: 36px;
}

#list-3-1-items-info {
    margin-left: 53px;
}

#list-items-3 {
    display: flex;
    list-style: circle;
    text-decoration: none;
    color: #bfbcbc;
}

#list-items-3 a {
    text-decoration: none;
    color: rgb(63, 63, 172);
    font-size: 20.6px;
}

#list-3-items {
    margin-left: 10rem;
}

#list-3-2 {
    display: flex;
    width: 22rem;
}

#p-registry {
    margin-top: 10px;
    margin-left: 11px;
    width: 142px;
    margin-top: 14px;
    font-size: 21px;
    color: #000064;
}

#p-registry a {
    color: #0c0c81;
    text-decoration: none;
}

/* Main-img*/
main {
    border-top: 1px solid #bfbcbc;
}

#bg-img {
    height: 70rem;
    background-image: url(../background/background.png);
    position: absolute;
    z-index: 2;
    width: 100%;
}

#border {
    height: 58%;
    width: 83.3%;
    border: 8px solid white;
    margin-left: 161px;
    display: flex;
}

#border img {
    height: 100%;
    width: 72.8%;
}

#border-hr {
    border: 3px solid white;
}

#info-table {
    background-color: rgb(60 58 58);
    color: white;
    width: 27.6%;
    border: 9px solid rgb(60 58 58);

}

#info {
    margin: -2px 0px 0px 2px;
    border: 2px solid gray;
    height: 99%;
    width: 98%;
}

#info-para {
    padding-top: 38px;
    font-size: 42px;
    margin-left: 9.3%;
}

#info-msg-para {
    color: gray;
    width: 288px;
    height: 70px;
    font-size: 18px;
    text-align: justify;
    margin-left: 10%;
    margin-top: 25px;
    line-height: 20px;
    font-size: 20px;
    line-height: 30px;
}

#info-content {
    text-align: left;
    width: 220px;
    height: 162px;
    list-style: none;
    margin-top: 50px;
    margin-left: 9%;
}

.info-list {
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #d1d0d0;
    border-bottom: 2px solid #4e4e4e;
    width: 158%;
}

.info-list:last-child {
    border-bottom: none;
}

.info-hr {
    width: 158%;
    border: 0.5px solid #4e4e4e;
}

#info-link {
    text-align: left;
    margin-left: 9%;
    color: gray;
    margin-top: 150px;
}

#info-link-a {
    color: gray;
    font-size: 19px;
    font-family: 'Noto Sans', sans-serif;
}

/* Main-cards */
#cards {
    height: 25%;
    width: 99.093rem;
    border: 8px solid black;
    margin-left: 161px;
    display: flex;
}

#cards-1 {
    width: 33.2%;
}

#cards-1 img {
    position: absolute;
    z-index: -1;
    width: 27.7%;
    height: 25%;
}

#cards-1-img {
    display: flex;
}

#cards-1-img img {
    width: 20.5rem;
}

#cards-1-p-1 {
    color: #484747;
    font-size: 25px;
    margin-left: 27px;
    margin-top: 15px;
}

#cards-1-p-2 {
    margin-left: 33px;
    color: #c5c1c1;
}

#cards-1-p-3 {
    margin-left: 66%;
    margin-top: 6%;
    font-size: 18px;
    position: relative;
}

#cards-1-p-3::after {
    content: "";
    position: absolute;
    right: 8px;
    top: 2rem;
    transform: translateY(-50%);
    width: 2px;
    height: 15rem;
    background-color: #b3b3b3;
}

#cards-1-p-3 a {
    text-decoration: none;
    color: #080895;
}

#cards-2 {
    width: 33.3%;
}

#cards-2-p-1 {
    font-size: 25px;
    margin-left: 27px;
    margin-top: 15px;
    color: #484747;
}

#cards-2-p-2 {
    margin-left: 33px;
    color: #c5c1c1;
}

#cards-2-p-3 {
    margin-left: 68%;
    margin-top: 6%;
    position: relative;
    font-size: 17px;
}

#cards-2-p-3::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 2rem;
    transform: translateY(-50%);
    width: 2px;
    height: 15rem;
    background-color: #b3b3b3;
}

#cards-2-p-3 a {
    text-decoration: none;
    color: #080895;
}

#cards-2 img {
    position: absolute;
    z-index: -1;
    width: 28.7%;
    height: 25%;
}

#cards-3 {
    width: 33.5%;
    background-color: white;
    display: flex;
    height: 100%;
}

#cards-3-info {
    width: 33.3%;
    background-color: white;
    height: 99.5%;
    margin-left: 41px;
}

#cards-3-p-1 {
    font-size: 27px;
    margin-top: 14px;
    width: 163%;
    color: #484747;
}

#cards-3-p-2 {
    font-size: 16px;
    margin-top: 18px;
    width: 148%;
    color: #c5c1c1;
}

#cards-3-p-3 {
    margin-top: 26px;
    font-size: 17px;
    color: #000064;
    width: 120%;
}

#cards-3-p-3 a {
    text-decoration: none;
    color: #080895;
}

#cards-3 img {
    width: 54%;
    margin-top: 12px;
    height: 95%;
    margin-left: 29px;
}

/* footer */
#footer-links {
    font-size: 18px;
    display: flex;
    margin-left: 160px;
    width: 100rem;
    justify-content: space-between;
    margin-top: 12px;
}

#footer-links-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 61%;
}

.link-list-items a {
    color: #9f9d9d;
    padding: auto;
}

.link-list-items {
    position: relative;
}

.link-list-items:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 51.3%;
    transform: translateY(-50%);
    width: 1px;
    height: 16.5px;
    background-color: gray;
}

#para-footer-1 {
    color: #938d8d;
    margin-top: 12px;
}

#para-footer-1 a {
    color: #938d8d;
}

#para-footer-2 {
    color: #938d8d;
    margin-top: 8px;
}

#para-footer {
    color: #938d8d;
}

#footer-email {
    color: #938d8d;
    margin-top: 12px;
}

#email-box {
    width: 298px;
    height: 26px;
    box-shadow: 1px 1px 3px black inset;
    border-width: 0px;
}

#btn-sign {
    width: 77px;
    height: 22px;
    border-width: 0;
    border-radius: 4px;
    margin-left: 6px;
}